h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.button-container{
    text-align: center;
}

button {
    font-family: 'Poppins', sans-serif;
    font-size: 190%;       /* your font size */
    color: goldenrod;
    background-color: #ffffff;
    width: auto;           /* let button size itself */
    min-width: 50px;       /* ensures buttons aren’t too tiny */
    height: 50px;          /* fixed height */
    text-align: center;    /* center text inside button */
    vertical-align: middle;
    display: inline-block; /* <-- makes buttons sit next to each other */
    margin: 5px;           /* space between buttons */
    cursor: pointer;
    justify-items: center;
}

button:hover {
    background-color: #ebebeb;
}

button:active {
    background-color: #aeaeae;
}
