h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
button{
    font-family: 'Poppins', sans-serif;
    color: goldenrod;
    background-color: #ffffff;
    align-items: center;
    width: 10%;
    height: 10%;
    min-width: 7%
    min-height: 7%;
    font-size: 190%;
}
button:hover {

    background: #ebebeb};
button:active {

    background: #aeaeae;

}
