h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
button{
    font-family: 'Poppins', sans-serif;
    
    vertical-align: middle;
    width: 15%;
    height: 15%;
    font-size: 200%;
}

